/* #region Common */
body{
    font-family: Arial;
    background-color: #f6f8f9;
    margin:0rem;
}

.action{
    padding: 1.5% 10% 1% ;
}


/* #endregion Common */

/* #region Header */
#app_header{
    background-color: white;
}
.logo_img{
    vertical-align: middle;
}


.logo_txt{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    vertical-align: middle;
}

#logo{
    padding: 1%;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

/* #endregion Header */

/* #region Main */


.container{
    width: 65%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2.5rem;
}


/* #region actions*/
#buttons_div{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#add_task{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
    border-style: double;
}

#add_sec{
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    color: #e3e6e9;
    background-color: white;
    border-color: #e3e6e9;
    border-style: double;
}

button{
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 12px;
}
/* #endregion actions*/

/* #region tasks*/

#alltask{
    margin-top: 0.25rem;
    padding-top: 5%;
    background-color: white;
}

.category_name{
    color: #4d515a;
    span{
        font-size: 1.5rem;
    }

    h3{
        display: inline;
       
    }
}

.status{
    border-radius: 100%;
    color: green;
}

.task{
    vertical-align: middle;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tag{
    font-size: 10px;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 1.5%;
    vertical-align: middle;
}

#editorial{
    background-color:#45abe9;
}

/* #endregion tasks*/


/* #endregion Main */
